body
{
	margin: 0;
	padding: 0;
	color: #555;
	font-family: Arial!important;
}
.errorMessage{
	color: red;
}
.wg-content img{
	margin: 5px;
}
#main .container{
	max-width: 960px;
	margin: 0 auto;
}
#main .content-panel .page-title{
	max-width: 960px;
	margin: 0 auto;
}
ul.breadcrumbs li,
ul.social li,
.portlet-content ul li,
ul.photos li,
#footer ul li,
#nav li, .sponsors li, .testimonials ul li, .accordion li{
	list-style-type: none!important;
}
ul.links, .blog-links ul, .tweets ul{
	padding: 0;
}
.page_content img{
	max-width: 720px;
}